/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

:root {
 --main-desktop-font-size: 50px;
 --main-pad-font-size:calc(var(--main-desktop-font-size)*4.8/6);
 --main-phone-font-size:15px;
 --main-background-color:#333;
 --main-text-color:#fff;
 --main-desktop-border-color:#111;
 --header-toggle-width:30px;
 --header-toggle-pad-width:calc(var(--header-toggle-width)*5/6);
 --screen-desktop-padding-top:50px;
 --screen-desktop-padding-left:100px;
 --screen-pad-padding-top:10px;
 --screen-pad-padding-left:30px;
 --footer-icon-width:30px;
 --footer-icon-pad-width:calc(var(--footer-icon-width)*5/6) ;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-user-drag: none;
}


html, 
body {
  width: 100vw;
  min-height: 100vh;
  font-family:'Poppins', sans-serif;
  font-size: var(--main-desktop-font-size);
  background: var(--main-background-color);
  color:var(--main-text-color);
}

a {
  color:var(--main-text-color);
}
.main-structure .content a {
  color:var(--main-text-color);
}

.main-structure,
.main-structure header,
.main-structure .content,
.main-structure footer {
  width: 100%;
  border:5px dashed var(--main-desktop-border-color)
}


.main-structure{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.main-structure header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.main-structure header,
.main-structure .content,
.main-structure footer {
  padding: var(--screen-desktop-padding-top)  var(--screen-desktop-padding-left);
  transition: 0.5s;

}

header .menu-logo {
  background: url('/src/icons/menu.svg');
  width: var(--header-toggle-width);
  height:var(--header-toggle-width);
  background-repeat: no-repeat;
  background-position: center;
  background-size: var(--header-toggle-width);
  filter: invert(1);
  
}

.main-structure footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.main-structure footer a {
  filter:invert(1);
  width: var(--footer-icon-width);
}




@media (max-width:1200px) {
  .main-structure {
    font-size: var(--main-pad-font-size);
  }
  .main-structure header .menu-logo {
    width: var(--header-toggle-pad-width);
    height:var(--header-toggle-pad-width);
    background-size: var(--header-toggle-pad-width);
  }
  .main-structure header,
  .main-structure .content,
  .main-structure footer {
  padding: var(--screen-pad-padding-top)  var(--screen-pad-padding-left);
  

}
.main-structure footer a {
  width: var(--footer-icon-pad-width);
}
}


@media (max-width:768px) {
  .main-structure {
    font-size: var(--main-phone-font-size);
  }
} 